numpy
pandas
seaborn
sentence-transformers
matplotlib
streamlit>=1.34.0
PyPDF2
python-docx
langchain
langchain-community
unifyai
unify
git+https://github.com/unifyai/langchain.git#egg=langchain&subdirectory=libs/langchain
git+https://github.com/unifyai/langchain.git#egg=langchain-unify&subdirectory=libs/partners/unify
